@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Color Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);  

    /* Acent Color */
    --blue: hsl(248, 32%, 49%);

    /* Neutral Colors */
    --darkBlue: hsl(249, 10%, 26%);
    --greyishBlue: hsl(246, 25%, 77%);

    /* Typography */
    --fontPrimary: 'Poppins', sans-serif;
    
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    background-color: var(--red);
    font-family: var(--fontPrimary);
    
}
.container {
    max-width: 1080px;
    /* min-height: 600px; */
    /* background: white; */
    margin: 4rem auto;
    display: flex;
}
.left {
    width: 50%;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 3rem;
}
.right {
    width: 50%;
}
.purple-alert {
    background:var(--blue);
    padding: 1rem 0;
    text-align: center;
    color: white;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.purple-alert span {
    font-weight: 600;
}
.form-container {
    background: white;
    /* height: 100%; */
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 1rem 1rem -1rem var(--darkBlue);
}
button {
    background: var(--green);
    padding: 1rem 3rem;
    width: 100%;
    border-radius: .5rem;
    border: none;
    border-bottom: 5px solid green;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background-color: rgb(119,226,180);
}

/* Form styling */
.form-control {
    margin-bottom: .6rem;
    padding-bottom: 1rem;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input {
    display: block;
    width: 100%;
    border: 2px solid var(--greyishBlue);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-family: inherit;
}
.form-control.success input {
    border-color: var(--green);
}
.form-control.success i.fa-check-circle {
    color: var(--green);
    visibility: visible;
}
.form-control.error input {
    border-color: var(--red);
}
.form-control.error i.fa-exclamation-circle {
    color: var(--red);
    visibility: visible;
}
.form-control i {
    visibility: hidden;
    position: absolute;
    top: 3rem;
    right: 1.5rem;
}
.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: -5px;
    right: 0;
    color: var(--red);
}
.form-control.error small {
    visibility: visible;
}
.form p {
    font-size: 13px;
    color: var(--greyishBlue);
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}
.form span {
    color: var(--red);
}
/* Responsive */
@media (max-width: 1000px){
    .container {
        flex-direction: column;
        margin: 1rem auto;
    }
    .left, .right {
        width: 90%;
        margin: auto;
    }
}